[submodule "ci-skip"]
	path = ci-skip
	url = https://github.com/srz-zumix/ci-skip.git
[submodule "ci-yaml"]
	path = ci-yaml
	url = https://github.com/srz-zumix/ci-yaml.git
[submodule "ci-branch-filter"]
	path = ci-branch-filter
	url = https://github.com/srz-zumix/ci-branch-filter.git
